@import "../node_modules/inter-ui/inter.css";

:root {
  --background: rgb(53, 53, 53);
  --text: rgb(225, 225, 225);
  --background-light: rgb(68, 68, 68);
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  height: 100%;
  font-family: "Inter", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

progress {
  display: inline-block;
  width: 190px;
  height: 20px;
  padding: 15px 0 0 0;
  margin: 0;
  background: none;
  border: 0;
  border-radius: 15px;
  text-align: left;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}
progress::-webkit-progress-bar,
progress::-moz-progress-bar {
  height: 11px;
  width: 150px;
  margin: 0 auto;
  background-color: var(--background-light);
  border-radius: 15px;
}
progress::-webkit-progress-value,
progress::-moz-progress-bar-value {
  display: inline-block;
  height: 11px;
  margin: 0px -10px 0 0;
  background: var(--text);
  border-radius: 15px;
}
progress:after {
  margin: -26px 0 0 -7px;
  padding: 0;
  display: inline-block;
  content: attr(value) "%";
}
