@import "../node_modules/inter-ui/inter.css";

:root {
  --background: rgb(53, 53, 53);
  --text: rgb(225, 225, 225);
  --background-light: rgb(68, 68, 68);
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  height: 100%;
  font-family: "Inter", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

progress {
  background-color: var(--background-light);
  height: 10px;
  border-radius: 50px;
  border: none;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: var(--text);
  float: left;
  border-radius: 15px;
}

progress::-moz-progress-bar {
  background: var(--text);
  float: left;
  border-radius: 15px;
}
